<div class="career-page" xmlns="http://www.w3.org/1999/html">
    <div class="show-image">
        <img src="images/careersheroimg.jpg">
        <div>
            <h2>
                Careers at athenahealth
            </h2>
            <p>
                Thinking of pursuing a career at athena health? It just might be one of the best decisions you'll ever
                make
            </p>
        </div>
    </div>

    <div class="athena-carrer-desc">
        <p>
            athenahealth is committed to a policy of equal employment opportunity. We recruit and hire applicants
            without
            regard to race, color, religion, sex (including pregnancy), national origin, disability, age, sexual
            orientation, veteran status, genetic information, gender identity, gender expression, or any other factor
            prohibited by law.
        </p>
    </div>

    <div class="opportunites">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active">
                    <div class="opening-desc">
                        <h2>
                            Opportunities for students & recent grads
                        </h2>
                        <p>
                            Are you a student or recent college grad? athenahealth is a great place to grow
                            professionally and make a real difference in the world.
                        </p>
                        <div class="detailed-desc">
                            <button type="button" class="btn bt-blue">View job openings</button>
                            <span class="glyphicon glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        </div>
                    </div>
                    <div class="img-desc">
                        <img src="images/image002.png" alt="First Slide">
                    </div>
                </div>
                <div class="item">
                    <div class="item active">
                        <div class="opening-desc">
                            <h2>
                                Info about the job Openings 2
                            </h2>
                            <p>
                                Description about the job Openings 2
                            </p>
                            <div class="detailed-desc">
                                <button type="button" class="btn bt-blue">View job openings 2</button>
                                <span class="glyphicon glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            </div>
                        </div>
                        <div class="img-desc">
                            <img src="images/james_dantzler_atlanta_rec.png" alt="First Slide">
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="item active">
                        <div class="opening-desc">
                            <h2>
                                Info about the job openings 3
                            </h2>
                            <p>
                                Description about the job openings 3
                            </p>
                            <div class="detailed-desc">
                                <button type="button" class="btn bt-blue">View job openings 3</button>
                                <span class="glyphicon glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            </div>
                        </div>
                        <div class="img-desc">
                            <img src="images/greg-joondeph_breidbart_wat.png" alt="First Slide">
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>

    <div class="athenistas">
        <div class="athenista  col-md-3 col-sm-6 col-xs-12">
            <img class="athenista-img" src="images/anita_gupta_sf.jpg" alt="">
            <div class="about-athenista">
                <h5>Product innovation</h5>
                <div class="professional-info">
                    Anitha gupta<br>
                    prduct finance manager<br>
                    sanfransisco, CA
                </div>
                <img class="play-video" src="images/btn_video_drkgreen.svg">
                <div class="watch-video"> watch video</div>

            </div>
        </div>
        <div class="athenista  col-md-3 col-sm-6 col-xs-12">
            <img class="athenista-img" src="images/amanda__montgomery_-atlanta_rec.png" alt="">
            <div class="about-athenista">
                <h5>Product innovation</h5>
                <div class="professional-info">
                    Amanda<br>
                    Designation<br>
                    sanfransisco, CA
                </div>
                <img class="play-video" src="images/btn_video_drkgreen.svg">
                <div class="watch-video"> watch video</div>

            </div>
        </div>
        <div class="athenista  col-md-3 col-sm-6 col-xs-12">
            <img class="athenista-img" src="images/andrew_kahn_sales_rec.png" alt="">
            <div class="about-athenista">
                <h5>Test innovation </h5>
                <div class="professional-info">
                    Andrew Khan<br>
                    Designantion<br>
                    Chennai, Ind
                </div>
                <img class="play-video" src="images/btn_video_drkgreen.svg">
                <div class="watch-video"> watch video</div>

            </div>
        </div>
        <div class="athenista  col-md-3 col-sm-6 col-xs-12">
            <img class="athenista-img" src="images/greg-joondeph_breidbart_wat.png" alt="">
            <div class="about-athenista">
                <h5>Innovation 4</h5>
                <div class="professional-info">
                    Greg Joondeph<br>
                    Desigantion<br>
                    Chennai Ind
                </div>
                <img class="play-video" src="images/btn_video_drkgreen.svg">
                <div class="watch-video"> watch video</div>

            </div>
        </div>
        <div class="athenista  col-md-3 col-sm-6 col-xs-12">
            <img class="athenista-img" src="images/james_dantzler_atlanta_rec.png" alt="">
            <div class="about-athenista">
                <h5>Product innovation</h5>
                <div class="professional-info">
                    James dantzler<br>
                    Desingantion<br>
                    sanfransisco, CA
                </div>
                <img class="play-video" src="images/btn_video_drkgreen.svg">
                <div class="watch-video"> watch video</div>

            </div>
        </div>
        <div class="athenista  col-md-3 col-sm-6 col-xs-12">
            <img class="athenista-img" src="images/kevin_weaver_watertown.png" alt="">
            <div class="about-athenista">
                <h5>Product innovation</h5>
                <div class="professional-info">
                    Kevin Weaver<br>
                    prduct finance manager<br>
                    sanfransisco, CA
                </div>
                <img class="play-video" src="images/btn_video_drkgreen.svg">
                <div class="watch-video"> watch video</div>

            </div>
        </div>
        <div class="athenista  col-md-3 col-sm-6 col-xs-12">
            <img class="athenista-img" src="images/ligmie_preval_wat.png" alt="">
            <div class="about-athenista">
                <h5>Innovation</h5>
                <div class="professional-info">
                    Anitha gupta<br>
                    prduct finance manager<br>
                    sanfransisco, CA
                </div>
                <img class="play-video" src="images/btn_video_drkgreen.svg">
                <div class="watch-video"> watch video</div>

            </div>
        </div>
        <div class="athenista  col-md-3 col-sm-6 col-xs-12">
            <img class="athenista-img" src="images/stephanie_ellis_austin_rec.png" alt="">
            <div class="about-athenista">
                <h5>Product innovation</h5>
                <div class="professional-info">
                    stephanise ellis<br>
                    prduct finance manager<br>
                    sanfransisco, CA
                </div>
                <img class="play-video" src="images/btn_video_drkgreen.svg">
                <div class="watch-video"> watch video</div>

            </div>
        </div>
    </div>
    <br>
    <footer>
        <div class="footer-container">
            <div class="terms">
                <div>
                    <a>Privacy Policy</a>
                    <a>Terms of service</a>
                    <a>Disclaimers</a>
                    <a>NewsLetter SignUp</a>
                    <a>Careequality</a>
                    <a>Contact Us</a>
                </div>
                <div class="copy-rights">
                    &copy Copyright 2016 athenahealth, Inc. All Rights Reserved
                </div>


            </div>
            <div class="caption">
                <img src="images/AhLogo.svg">
            </div>
        </div>

    </footer>
</div>

