<header>
    <nav class="navbar navbar-static-top athena-nav-bar" role="navigation">
        <ul class="left-nav">
            <div class="logo">
                <a href="#" class="">
                    <img src="images/Athenahealth.svg.png">
                </a>
            </div>
        </ul>
        <ul class="right-nav">
            <li class="dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle main-menu">Products & Services </a>
                <ul class="dropdown-menu">
                    <div class="sub-menu">
                        <div class="left-sub-menu">
                            <p>
                                we drive result for the organisation across the care continuum
                            </p>

                            <button type="button" class="btn btn-green">Calculate your Revenue</button>

                        </div>
                        <div class="right-sub-menu">
                            <div class="left-half">

                                <li>
                                    <a> Medical Groups and Practises</a>
                                    <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"
                                          style=""></span>

                                </li>
                                <li>
                                    <a> Medical Specialities</a>
                                    <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"
                                          style=""></span>

                                </li>
                                <li>
                                    <a> Starting a medical practise</a>
                                    <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"
                                          style=""></span>

                                </li>
                                <li>
                                    <a> fqhc</a>
                                    <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"
                                          style=""></span>

                                </li>
                                <li>
                                    <a> Community Hosipitals</a>
                                    <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"
                                          style=""></span>

                                </li>

                            </div>
                            <div class="right-half">
                                <li>
                                    <a> Hospitals and health system</a>
                                    <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"
                                          style=""></span>

                                </li>
                                <li>
                                    <a> Accountable core organisations</a>
                                    <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"
                                          style=""></span>

                                </li>
                                <li>
                                    <a> Academic medical centres</a>
                                    <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"
                                          style=""></span>

                                </li>
                                <li>
                                    <a> urgent care centers</a>
                                    <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"
                                          style=""></span>

                                </li>
                                <li>
                                    <a> Health plans</a>
                                    <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"
                                          style=""></span>

                                </li>

                            </div>
                        </div>

                    </div>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle main-menu">Industry solutions</a>
                <ul class="dropdown-menu">
                    <div class="sub-menu">
                        <div class="left-sub-menu">
                            <p>
                                Information about Industry solutions
                            </p>

                            <button type="button" class="btn btn-green">Industry solutions</button>

                        </div>
                        <div class="right-sub-menu">
                            <div class="left-half">

                                <li>
                                    <a> Industry solution link 1</a>
                                    <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"
                                          style=""></span>

                                </li>
                                <li>
                                    <a> Industry solution link 2</a>
                                    <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"
                                          style=""></span>

                                </li>
                                <li>
                                    <a> Industry solution link 3</a>
                                    <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"
                                          style=""></span>

                                </li>
                                <li>
                                    <a> Industry solution link 4</a>
                                    <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"
                                          style=""></span>

                                </li>
                                <li>
                                    <a> Industry solution link 5</a>
                                    <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"
                                          style=""></span>

                                </li>

                            </div>
                            <div class="right-half">
                                <li>
                                    <a> Industry solution link 6</a>
                                    <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"
                                          style=""></span>

                                </li>
                                <li>
                                    <a> Industry solution link 7</a>
                                    <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"
                                          style=""></span>

                                </li>
                                <li>
                                    <a> Industry solution link 8</a>
                                    <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"
                                          style=""></span>

                                </li>
                                <li>
                                    <a> Industry solution link 9</a>
                                    <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"
                                          style=""></span>

                                </li>
                                <li>
                                    <a> Industry solution link 10</a>
                                    <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"
                                          style=""></span>

                                </li>

                            </div>
                        </div>

                    </div>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle main-menu">Results and Insights</a>
                <ul class="dropdown-menu">
                    <div class="sub-menu">
                        <div class="left-sub-menu">
                            <p>
                                Information about Results and Insights
                            </p>

                            <button type="button" class="btn btn-green">Results and Insights</button>

                        </div>
                        <div class="right-sub-menu">
                            <div class="left-half">

                                <li>
                                    <a> Results and Insights link 1</a>
                                    <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"
                                          style=""></span>

                                </li>
                                <li>
                                    <a> Results and Insights link 2</a>
                                    <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"
                                          style=""></span>

                                </li>
                                <li>
                                    <a> Results and Insights link 3</a>
                                    <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"
                                          style=""></span>

                                </li>
                                <li>
                                    <a> Results and Insights link 4</a>
                                    <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"
                                          style=""></span>

                                </li>
                                <li>
                                    <a> Results and Insights link 5</a>
                                    <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"
                                          style=""></span>

                                </li>

                            </div>
                            <div class="right-half">
                                <li>
                                    <a> Results and Insights link 6</a>
                                    <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"
                                          style=""></span>

                                </li>
                                <li>
                                    <a> Results and Insights link 7</a>
                                    <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"
                                          style=""></span>

                                </li>
                                <li>
                                    <a> Results and Insights link 8</a>
                                    <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"
                                          style=""></span>

                                </li>
                                <li>
                                    <a> Results and Insights link 9</a>
                                    <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"
                                          style=""></span>

                                </li>
                                <li>
                                    <a> Results and Insights link 10</a>
                                    <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"
                                          style=""></span>

                                </li>

                            </div>
                        </div>

                    </div>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle main-menu">About athenahealth</a>
                <ul class="dropdown-menu">
                    <div class="sub-menu">
                        <div class="left-sub-menu">
                            <p>
                                Information about Athena health
                            </p>

                            <button type="button" class="btn btn-green">About Athena</button>

                        </div>
                        <div class="right-sub-menu">
                            <div class="left-half">
                                <li>
                                    <a href="#/careers"> Careers</a>
                                    <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"
                                          style=""></span>

                                </li>
                            </div>
                        </div>

                    </div>
                </ul>
            </li>
        </ul>
    </nav>

</header>